<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <h1>Event Details</h1>
  
  <% events.push( (event) => { %>
    <div>
      <h2><%= event.ObjectId.title %> </h3>
      <img src="<%= event.ObjectId.thumbnail %>" alt="">
      <h4><%- event.ObjectId.date %> </h4>
      <%- event.ObjectId.content %> 
    </div>
  <% }); %>
 
</body>
</html>